astropy
biopandas>=0.4.1
biopython>=1.79
biotite>=0.34
charset-normalizer>=2.1.1
chex
colossalai>=0.2.7
#cudatoolkit>=10.1.243
#cudnn>=7.6.0
deepspeed>=0.5.9
dgllife
dm-haiku
dm-tree
e3nn>=0.5.0
einops
fairscale
gitpython
#hhsuite>=3.3.0
#hmmer>=3.3.2
huggingface_hub
hydra-core
immutabledict
jax
joblib
#kalign2>=2.04
lie_learn
louvain>=0.6.1
matplotlib
ml-collections
modelcif>=0.7
mpl-scatter-density
networkx>=2.8.7
numba>=0.44.1
numpy>=1.16.4
omegaconf
#openbabel>=2.4.1
#openmm>=7.5.1
opt-einsum-fx>=0.1.4
opt-einsum>=3.3.0
optax
packaging>=21.3
pandas>=1.5.0
#pdbfixer
protobuf>=3.6.1
py3Dmol
pyaml>=21.10.1
pyarrow
pyfaidx
#python-igraph>=0.8.3
pytorch-lightning>=1.6.4
ray>=2.0.0
rdkit-pypi>=2022.3.5
requests
scanpy>=1.4.5.1
scikit-learn>=1.1.2
scipy>=1.9.1
#se3-transformer
seaborn
spyrmsd>=0.5.2
subword-nmt
sympy>=1.11.1
tensorboard>=2.0.0
tensorflow
tensorflow_addons
threadpoolctl>=3.1.0
#tmalign
torch
#torch-cluster>=1.6.0
#torch-geometric>=2.1.0.post1
#torch-scatter>=2.0.9
#torch-sparse>=0.6.15
#torch-spline-conv>=1.2.1
tqdm>=4.32.1
transformers>=4.11.3
typing-extensions>=3.10.0.2
urllib3>=1.26.14